{# Macro para inputs normales (Alumnos/Usuarios) #}
{% macro camposNuevos(field) %}
<div class="mb-3">
    {{ field.label(class="form-label") }}
    {{ field(class="form-control", **kwargs) }}
    {% if field.errors %}
        {% for error in field.errors %}
            <p style="color: red; font-size: 0.8rem;">{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro render_field(field) %}
<div class="mb-2">
    <label class="fw-bold text-white">{{ field.label }}</label>
    {{ field(**kwargs) }}
</div>
{% endmacro %}